/vendor
/node_modules
/public/storage
.idea/
Homestead.yaml
Homestead.json
.env
_ide_helper.php
.directory
storage/debugbar/.gitignore

storage/sources/*
!storage/sources/.gitkeep

storage/compose/*
!storage/compose/.gitkeep
